services:
  backend:
    build:
      context: ./services/backend
      dockerfile: ../../docker/backend/Dockerfile.prod
    container_name: vormirex-backend
    env_file:
      - ./services/env/.env
    restart: always

  frontend:
    build:
      context: ./services/frontend
      dockerfile: ../../docker/frontend/Dockerfile.prod
    container_name: vormirex-frontend
    restart: always

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend
