services:
  backend:
    build:
      context: ./services/backend
      dockerfile: ../../docker/backend/Dockerfile
    container_name: vormirex-backend
    env_file:
      - ./env/backend/.env
    volumes:
      - ./services/backend/:/app
      - /app/node_modules
    restart: always
    depends_on:
      - mongo

  frontend:
    build:
      context: ./services/frontend
      dockerfile: ../../docker/frontend/Dockerfile
    container_name: vormirex-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./services/frontend:/app
      - /app/node_modules
    restart: always

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

  mongo:
    image: mongo:6.0
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
